.container {
  padding-left: 12vw;
  padding-right: 12vw;
}

@media only screen and (max-width: 767px) {
  /* Mobile view styles */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.searchBar {
  width: 55vw;
  height: 40px;
  margin-bottom: 30px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  outline: none;
  transition: box-shadow 0.3s ease;
  margin-top: 20px;
}
