button.nav-link{
    margin-top: 2;
    margin-bottom: 2;
    color: #003060;
    display: block;
    padding: 8px 10px;
    margin: 20px 4px;
    font-weight: bold;
    font-size: 1rem;
}

button.nav-link:hover{
    color: #fff;
    background-color: #003060;
    border-radius: 5px;
}

button.nav-link-sign-up{
    margin-top: 2;
    margin-bottom: 2;
    color: #fff;
    display: block;
    padding: 8px 20px;
    margin: 20px 6px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #003060;
    border: 1px solid #003060;
}

button.nav-link-sign-up:hover{
    color: #003060;
    background-color: #fff;
    border-radius: 5px;
}

button.nav-link-login{
    margin-top: 2;
    margin-bottom: 2;
    color: #003060;
    display: block;
    padding: 8px 20px;
    margin: 20px 6px;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #003060;
}

button.nav-link-login:hover{
    color: #fff;
    background-color: #003060;
    border-radius: 5px;
}

